@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Permanent+Marker&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Mulish&family=Permanent+Marker&family=Roboto:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Permanent+Marker&family=Roboto:wght@300&family=Varela+Round&display=swap');
body{
    background-color: rgb(170, 97, 125);

}

h1 h2{
    align-items: center;
}
h4{
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
}
h3{
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
h4 img{
    padding-left: 10px;
    height: 30px;
}
h1 img{
    padding-left: 10px;
    height: 50px;
}
h2 img{
    padding-left: 10px;
    height: 40px;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Roboto', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg1.jpg');
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
    
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;

}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    width: 100%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;

}

.timestamp i{
    padding: 0 10px;
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    margin: 14px;
    padding: 20px 0;
    font-family: 'Varela Round', sans-serif;
}

